<%= form_for @trademark, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :operator_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :operator_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :lang_id, :class => 'control-label' %>
    <div class="controls">
      <%#= f.text_field :lang_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                trademarks_path, :class => 'btn' %>
  </div>
<% end %>
